* {
  margin: 0;
  padding: 0;
}

.calculator {
  height: 500px;
  width: 400px;
  border: solid black;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  column-gap: 5px;
  row-gap: 5px;
}

.display {
  border: solid black;
  grid-column: 1 / span 4;
}

[value = '0'] {
  grid-column: 1 / span 2;
}
