* {
  margin: 0;
  padding: 0;
}

html {
  font-family: monospace;
}

.calculator {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 500px;
  width: 400px;
  border: solid black;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
}

.display {
  font-size: 72px;
  border: solid black;
  text-align: right;
  grid-column: 1 / span 4;
}

[value = '0'] {
  grid-column: 1 / span 2;
}
